<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Foood Venture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <button mat-raised-button type="submit" class="btn btn-outline-primary mr-2"
                    (click)='getinfo()'>Login</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary" mat-raised-button type="submit"
                    (click)='onSelect()'>contact</button>
            </li>

        </ul>
    </div>


</nav>

<div>
    <header class="main_header">
        <div class="text-center">
            <h1 class="main_heading">FOOD VENTURE </h1>
            <p class="main_para"> Welcome to food journey </p>
        </div>
        <div class="main_header__div pl-5 shadow">
            <p>Food Venture</p>
            <h2>Explore The Food World</h2>
            <button class="text-uppercase btn btn-lg btn-success">Follow</button>


        </div>
    </header>

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div *ngFor="let blog of products">
                    <div class="card">
                        <div class="m-4 text-center">
                            <h2>{{blog.title}}</h2>
                            
                        </div>
                        <img class="card-img-top" src="{{blog.imgUrl}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{blog.blog}}</p>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary" (click)="editBlog(blog.id)">Edit</button>
                                <button class="btn btn-danger" (click)="deleteBlog(blog.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="about_me_div shadow p-2">
                    <p>Food Blog</p>
                    <p>Read and Express your views regarding this never ending journey</p>
                </div>
                <div class="popular_post">
                    <div class="right_sub_div shadow">
                        <div class="row">
                            <div class="col-3 popular_post_img1 py-2 pl-2">
                            </div>
                            <div class="col-9">
                                <h3>Corona</h3>
                                <p>Pandemic</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 popular_post_img2 py-2 pl-2">
                            </div>


                            <div class="col-9">
                                <h3>Bill Gates</h3>
                                <p> CEO MICROSOFT</p>
                            </div>



                        </div>

                        <div class="row">
                            <div class="col-3 popular_post_img3 py-2 pl-2">
                            </div>
                            <div class="col-9">
                                <h3>Food Factory</h3>
                                <p>Pizza</p>
                            </div>






                        </div>

                    </div>





                    <div class="right_di_post">
                        <div class='right_div__title py-4 pl-2'>
                            <h2>Advertise</h2>
                        </div>
                        <div class="right_sub_div">
                            <div class="advertise_img bg-light shadow">
                                <p>Ads goes here</p>
                            </div>

                        </div>
                    </div>
                    <div class="right_div__title py-4 pl-2 pt-4 ">
                        <h3>Explore</h3>
                    </div>
                    <div class="explore_main right_sub__div">
                        <a href="https://www.youtube.com/watch?v=0SPwwpruGIA" target="_food"
                            class="badge shadow text-uppercase">FOOD
                            ExPLoring</a>
                        <a href="https://www.youtube.com/watch?v=0SPwwpruGIA" target="_food"
                            class="badge shadow text-uppercase">Cuisine</a>
                        <a href="https://www.youtube.com/watch?v=0SPwwpruGIA" target="_food"
                            class="badge shadow text-uppercase">Pizza
                            Corner</a>
                        <a href="https://www.youtube.com/watch?v=0SPwwpruGIA" target="_food"
                            class="badge shadow text-uppercase">South
                            Indian</a>

                    </div>

                    <div class="right_div_post">
                        <div class="right_div__title py-4 pl-2 ">
                            <h2>Inspiration</h2>

                        </div>
                        <div class="right_sub_div">
                            <div class="row gx-3">
                                <div class="col-6">
                                    <figure>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3IXUDuzKAXtWL56b5hN44Jks0yOEwke4i_w&usqp=CAU"
                                            class="img-fluid shadow">
                                    </figure>
                                </div>



                                <div class="col-6">
                                    <figure>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwLwAEIA_hYGbkw2ylfNMh0N7waTBjKMKScw&usqp=CAU"
                                            class="img-fluid shadow">
                                    </figure>
                                </div>

                                <div class="col-6">
                                    <figure>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZrAf1Yfdj--EQPorW7wZKtjRzltXR98yNSQ&usqp=CAU"
                                            class="img-fluid shadow">
                                    </figure>
                                </div>
                                <div class="col-6">
                                    <figure>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUte4wU0ILkdfMg39eDN1JJ58RWkF2tyML6Q&usqp=CAU"
                                            class="img-fluid shadow">
                                    </figure>
                                </div>
                            </div>



                        </div>

                    </div>



                    <div class="right_div_post">
                        <div class="right_div__title py-4 pl-2">
                            <h2>Follow
                                Us</h2>
                        </div>


                        <div class="right_sub_div d-flex justify-content-around">



                            <a href="https://www.instagram.com/accounts/login/">Instagram</a>



                            <a href="https://www.facebook.com/">Facebook</a>



                            <a href="https://www.linkedin.com/login">LinkedIn</a>





                        </div>


                    </div>
                    <div class="right_div_post">
                        <div class="right_div__title py-4 pl-2">
                            <h2>Subscribe
                            </h2>
                        </div>
                        <div class="right_sub_div ">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="name@gmail.com">
                                    <div id="emailHelp" class="form-text">
                                        We'll
                                        never
                                        share
                                        your
                                        email
                                        with
                                        anyone
                                        else.
                                    </div>
                                </div>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check
                                        me
                                        out</label>
                                </div>
                                <button type="submit" class="subs_btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <footer>
        <p class="text-center m-2 bg-light">
            Food Venture-"a never
            ending journey"</p>
    </footer>

</div>